body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

:root {
    --header-color: yellow;
}

#navbar {
    background-color: var(--header-color);
    height: 50px;
    position: sticky;
    left: 0px;
    top: 0px;
    width: 100%;
}

#navbar .navbar_brand {
    width: 30%;
    /*background-color: yellow;*/
    padding-top: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
    font-weight: bold;
    font-size: large;
}

#navbar .nav {
    width: 70%;
    /*background-color: red;*/
    height: 50px;
    float: left;
}

#navbar .nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

#navbar .nav ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#navbar .nav ul li a:link,
#navbar .nav ul li a:visited {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#navbar .nav ul li:active {
    transform: scale(0.9);
}

#navbar .nav ul li a:hover {
    background-color: orange;
}

.copy-right {
    background-color: #a59797;
    color: black;
    opacity: 0.6;
    position: fixed;
    top: 90vh;
    left: 10px;
}

.box {
    padding: 20px;
    background-color: #a59797;
    margin: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
}


/*.capital {
    background-color: orange;
    position: relative;
    top: 120px;
    left: 0px;
    height: 30px;
    width: 170px;
}*/

.table {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
}

.table-container {
    width: 95%;
    margin: auto;
    overflow: auto;
    margin-bottom: 100px;
    max-height: 700px;
}

.table td {
    border-top: 1px solid #a29a9a;
    border-bottom: 1px solid #a29a9a;
    padding: 10px;
}

.table th {
    border: 1px solid #a29a9a;
    padding: 12px 10px;
    text-align: left;
    background-color: aliceblue;
    color: blue;
}

.table tr {
    back: background-color 0.3s;
}


/*
.table tr:nth-child(even) {
    background-color: rgb(232, 15, 18);
}

.table tr:nth-child(odd) {
    background-color: rgb(32, 228, 84);
}

.table tr:hover {
    background-color: rgb(218, 21, 123);
}
*/

.caption {
    background-color: var(--header-color);
    color: gold;
    padding: 12px 20px;
    font-size: 30px;
}

.lan-eng {
    vertical-align: middle;
}

.Pagination {
    background-color: #a59797;
    width: 400px;
    margin: auto;
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
}

.Pagination ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}

.Pagination ul li {
    width: 50px;
    float: left;
    margin-right: 2px;
    text-align: center;
}

.Pagination ul li a:link {
    text-decoration: none;
    color: red;
    width: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.Pagination ul li a:hover {
    background-color: chartreuse;
}

.float-left {
    float: left;
}

.cards {
    width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 4px 4px #a59797;
}

.Header {
    background-color: var(--header-color);
    padding: 10px 20px;
    color: darkred;
}

.footer {
    background-color: #a29a9a;
    padding: 10px 10px;
    color: darkred;
    text-align: right;
}

.body {
    padding: 10px 10px;
}

.card_container {
    height: 700px;
}

.list-items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.list-items li {
    padding: 8px 4px;
    border-bottom: #ce1b1b;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-items li:hover {
    background-color: rgb(246, 181, 19);
}

.body h4 {
    padding: 0px;
    margin: 0px;
}

.signup-card {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Class-element {
    height: 40px;
    /*background-color: #e9e0e0;*/
    margin-bottom: 20px;
}

.class-lable {
    width: 30%;
    float: left;
}

.Class-control-element {
    width: 70%;
    float: left;
}

.class-control {
    width: 100%;
    padding: 10px;
    border-radius: 3px #251212;
    border: 1px solid blue;
    transition: box-shadow 0.3s
}

.class-control:focus {
    box-shadow: 0px 0px 3px 2px #b7aed5;
    outline: none;
}

.button1 {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 3px rgb(70, 66, 66);
    margin: 10px;
    border: 2px solid fuchsia;
}

.button1:hover {
    background-color: #ce1b1b;
    box-shadow: 0px 0px 2px 3px rgb(111, 26, 26);
}

.reset-button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 3px rgb(70, 66, 66);
    margin: 10px;
    border: 2px solid fuchsia;
}

.reset-button:hover {
    background-color: #8e4545;
    box-shadow: 0px 0px 2px 3px rgb(111, 26, 26);
}

input:checked {
    box-shadow: 0px 0px 2px 2px brown;
    background-color: brown;
}

option:checked {
    color: #8e4545;
    background-color: rgb(38, 146, 146);
}

input:in-range {
    background-color: rgb(147, 178, 159);
}

input:out-of-range {
    background-color: #b7aed5;
}

.table tbody tr:not(:nth-child(1)) {
    background-color: yellowgreen;
}

.list-items li::after {
    content: url(images/star.jpg);
}

::selection {
    background-color: yellow;
    color: pink;
}